<%= form_for @question do |f| %>
  <div class="form-group">
    <%= f.text_area :content, class: "form-control", size: "20"%>
    <%= f.text_field :image, class: "form-control" %>
    <%= f.submit "Ask!", class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
