<% @want = product.wants.where(user: user) %>


<div class="use2-button">
  <i class="fa fa-lg fa-check use2-icon" aria-hidden="true"></i>
  <div class="use2-text">I use this!</div>
</div>
</br>

</br>


<div class="want-button">
  <i class="fa fa-lg fa-heart-o want-icon" aria-hidden="true"></i>
  <div class="want-text">I want this!</div>
</div>
