<% nofollow %>
<% noindex %>

<div class="medium-avatar"><%= image_tag(@user.pic) %></div><h1><%= @user.user_name %></h1>
<center>
<%= render 'form' %>

<%= link_to 'Cancel', user_path(@user) %>
</center>
