<% nofollow %>
<% noindex %>
<h1>Skin info</h1>
What's your skin like? We use this to show you products and reviews from people like you.

<%= render 'form' %>

<%= link_to 'Back', @user, class: "btn btn-link" %>