<tr>
  <td>
    <%= link_to image_tag(exchange.image.small_thumb), exchange %>
  </td>
  <td>
    <%= link_to exchange.name, exchange, class: "product-info" %>
  </td>
  <td>
    <%= exchange.volume %>
  </td>
</tr>
