<% title 'Walletthing' %>
<% description 'The easiest place to compare cryptocurrency wallets' %>
<% keywords 'cryptocurrency wallets, bitcoin, ethereum, how to buy bitcoin, how to buy ethereum, how to buy ether, how to buy litecoin, how to store cryptocurrency, digital money' %>

<div class="jumbotron">
  <h2>Get started with Bitcoin in New York</h2>
  <h4>Select a guide:</h4>
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default selector"><i class="fa fa-certificate" aria-hidden="true"></i>&nbsp;&nbsp;Buy your first Bitcoin</button>
    <button type="button" class="btn btn-default selector"><i class="fa fa-archive" aria-hidden="true"></i>&nbsp;&nbsp;Keep safe in a wallet</button>
    <button type="button" class="btn btn-default selected selector"><i class="fa fa-exchange" aria-hidden="true"></i>&nbsp;&nbsp;Trade at an exchange</button>
  </div>
</div>
</p>

        <table class="table">
          <thead>
              <th></th>
              <th>Name</th>
              <th>Price (BTC)</th>
              <th>Volume (BTC)</th>
              <th>Fees per $1k</th>
              <th>Reported Thefts</th>
              <th><i class="fa fa-map-marker" aria-hidden="true"></i></th>
          </thead>
          <% @exchanges.each do |exchange| %>
            <%= render partial: 'exchange_row', locals: { exchange: exchange } %>
          <% end %>
        </table>
