<% title 'Walletthing' %>
<% description 'The easiest place to compare cryptocurrency wallets' %>
<% keywords 'cryptocurrency wallets, bitcoin, ethereum, how to buy bitcoin, how to buy ethereum, how to buy ether, how to buy litecoin, how to store cryptocurrency, digital money' %>

<div class="jumbotron">
  <h2>Buy your first Bitcoin in New York</h2>
  <h4>Simple and reliable information for buying and storing Bitcoin in NYC.</h4>
  <div class="btn-group" role="group" aria-label="...">
    <%= link_to "1. Buy at an exchange", exchanges_path, class: "btn btn-default selector selected" %>
    <%= link_to "2. Store in a wallet", wallets_path, class: "btn btn-default selector" %>
  </div>
</div>
</p>

        <table class="table">
          <thead>
              <th>Exchange</th>
              <th>Name</th>
              <th>Ask Price (BTC)</th>
              <th>Volume (BTC)</th>
              <th>Buy with USD?</th>
              <th>Fees per $1k</th>
              <th>Reported Thefts</th>
              <th>Licensed in NY?</th>
              <th>Location</th>
              <!-- <th><i class="fa fa-map-marker" aria-hidden="true"></i></th> -->
          </thead>
          <% @exchanges.each do |exchange| %>
            <%= render partial: 'exchange_row', locals: { exchange: exchange } %>
          <% end %>
        </table>
