<% title 'Walletthing' %>
<% description 'The easiest place to compare cryptocurrency wallets' %>
<% keywords 'cryptocurrency wallets, bitcoin, ethereum, how to buy bitcoin, how to buy ethereum, how to buy ether, how to buy litecoin, how to store cryptocurrency, digital money' %>

<div class="jumbotron">
  <h2>How to buy / store / trade Bitcoin in the US</h2>
</div>

</p>
      <!-- <ul class="list-group">
        <% Exchange.all.each do |exchange| %>
          <li class="list-group-item">
          <%= render partial: 'exchange_row', locals: { exchange: exchange } %>
      </li>
        <% end %>
      </ul> -->

        <table class="table">
          <thead>
              <th></th>
              <th>Name</th>
              <th>Price (BTC)</th>
              <th>Volume (BTC)</th>
              <th>Fees / $1k</th>
              <th><i class="fa fa-map-marker" aria-hidden="true"></i></th>
              <th>Reported Thefts</th>
          </thead>
          <% @exchanges.each do |exchange| %>
            <%= render partial: 'exchange_row', locals: { exchange: exchange } %>
          <% end %>
        </table>
