<div class="jumbotron">
	<h1>looklove</h1>
	<h4>We're a community of</br>strong opinions and smart advice.</h4>
	<h4>We'd love to have you!</h4>
</div>

<%= render 'form' %>

<%= link_to 'Back', applicants_path %>
