<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 look-row">
  <div class="look-image"><%= link_to image_tag(look.image), look %></div>
  <h3><%= link_to look.title, look %></h2>
  <% look.products.first(3).each do |product| %>
    <%= render partial: 'looks/look_row_product', locals: { product: product } %>
  <% end %>
</div>
