<div class="col-xs-4 look-row-product">
  <% if product.link.present? %>
    <%= link_to image_tag(product.image), product %>
  <% else %>
    <%= image_tag(product.image) %>
  <% end %>
  <!-- <div class="brand"><%= product.product_brand %></div>
  <div class="name"><%= product.product_name %></div> -->
</div>
