<div class="col-xs-6 col-sm-4 look-product">
  <%= link_to image_tag(product.image.url), product %>
  <div class="brand"><%= product.product_brand %></div>
  <div class="name"><%= product.product_name %></div>
</div>
