<% title @look.title + ' on Looklove' %>
<% description 'Shopping and product guide to ' + @look.title %>
<% keywords @look.title + ', skincare, cosmetics, makeup, beauty, products, reviews, community, forum, posts' %>

<div class="look">
  <h1><%= @look.title %></h1>
<div class="description"><%= @look.description %></div>
<%= render partial: 'looks/look_product', collection: @look.products, as: :product %>
</div>
