<div class="jumbotron">
	<h1>looklove</h1>
	<h3>Share your skincare routine</h3>
	<div class="login-image"><%= image_tag "https://s3.amazonaws.com/productbase/email/looklove-login-line.png" %></div>
	<div class="login">
		<%= render 'devise/sessions/form' %>
	</div>
	<div class="invite">
		&#9829; <strong>looklove</strong> is invite-only. <%= link_to "Want in?", join_path %>
	</div>
</div>
