<% title 'About looklove' %>
<% description 'About looklove, the community forum for reviews of Asian skincare and beauty products' %>
<% keywords 'about page looklove community' %>
<% nofollow %>
<% noindex %>

<h1>About looklove</h1>
<p>looklove is a place to collect reviews, tips, photos, and recommendations of skincare and beauty products from abroad, specifically Korean, Japanese, Taiwanese, and other Asian brands.</p>
