<% title 'Contact looklove' %>
<% description 'Contact looklove, the community forum for reviews of Asian skincare and beauty products' %>
<% keywords 'contact page looklove community founder startup company' %>
<% nofollow %>
<% noindex %>

<h1>Say hello to us</h1>
<p>email@email.com</p>
