<div class="login-layer">
  <i class="fa fa-times fa-2x" aria-hidden="true"></i>

<div class="login-box row">
  <div class="login-text">
  <h2>walletthing</h2>
  Share cryptocurrency products that <em>work</em><br/>
  </div>
  <div class="col-xs-12 login-cta">

  <% if devise_mapping.omniauthable? %>
    <% resource_class.omniauth_providers.each do |provider| %>
      <%= link_to "Sign In with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider), class: "btn btn-lg btn-facebook" %><br />
    <% end %>
  <% end %>
  Join <%= pluralize(User.count, "member") %> who are
  <br/>recommending <%= pluralize(Product.count, "product") %>!
</div>

  <!-- <script>
    mixpanel.track("Viewed Login");
  </script> -->

</div>
