<div class="login-box">
  <h2>Looklove</h2>
  Share your skincare and makeup tips!<br/>
  <%= render 'form' %>

<br/>
  We are <%= pluralize(User.count, "member") %> using
  <%= pluralize(Product.count, "product") %>.

  <script>
    mixpanel.track("Viewed Login");
  </script>
</div>
