<h1><%= @investor.name %></h1>
<%= link_to "Edit", edit_investor_path, class: "btn btn-primary" %><br><br>
<%= link_to "Add new", new_investor_path, class: "btn btn-primary" %><br><br>
<%= link_to 'Destroy', @investor, method: :delete, data: { confirm: 'Are you sure?' } %>
