/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*/

body {
  font-family: 'Roboto', sans-serif;
  background: #fcfeff;
  color: #404647
}

.jumbotron {
  background: #F3FAFA;
  background-image: image-url("header4.jpg");
  border: 1px solid #F9FCF0;
  border-radius: 25px;
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
  h2 {
    color:white;
    text-shadow: 1px 2px #262626;
  }
  h4 {
    color:white;
  }
}

html { -webkit-font-smoothing: antialiased; }

a, a:hover {
  color: black;
}

.badge {
  float: right;
  margin-top: -22px;
  margin-right: 18px;
}

.btn {
  border-radius:500px;
  font-family: "Roboto Condensed";
}

.btn-default {
  background:none;
}

.btn-default:hover {
  color:#09cef0;
  background:#e2faff;
}

.btn-primary {
  background: #ffffff;
  color: #000000;
  border: 0px;
  border-radius: 500px;
  background: #75d1cd; /* For browsers that do not support gradients */
  // background: -webkit-linear-gradient(#9de8e8, #88cccc); /* For Safari 5.1 to 6.0 */
  // background: -o-linear-gradient(#9de8e8, #88cccc); /* For Opera 11.1 to 12.0 */
  // background: -moz-linear-gradient(#9de8e8, #88cccc); /* For Firefox 3.6 to 15 */
  // background: linear-gradient(#9de8e8, #88cccc); /* Standard syntax */

}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #6dc4c0; /* For browsers that do not support gradients */
  // background: -webkit-linear-gradient(#9de8e8, #a6fcfc); /* For Safari 5.1 to 6.0 */
  // background: -o-linear-gradient(#9de8e8, #a6fcfc); /* For Opera 11.1 to 12.0 */
  // background: -moz-linear-gradient(#9de8e8, #a6fcfc); /* For Firefox 3.6 to 15 */
  // background: linear-gradient(#9de8e8, #a6fcfc); /* Standard syntax */
  color: black;
}

.btn-facebook {
  background: #3b5998;
  border-color: #3b5998;
  color: white;
}

.btn-search {
  background: #ffffff;
  color: #000000;
  border-color: #000000;
  border-radius: 500px;
}


.btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active {
  background: #4E69A2;
  border-color: #4E69A2;
  color: white;
}

.login-devise {
  display:none;
}

// .list-group {
//   box-shadow:none;
//   border-radius:10px;
//   background: white;
// }

.panel-default > .panel-heading {
  color: #333;
  background-color: #edf9fc;
  border-color: white;
  background-image:none;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .panel-default {
    border: 1px solid #eee;
  }

  .panel-title {
    font-weight: bold;
    font-family: 'Roboto Condensed';
  }

.table {
  background:none;
  border-bottom: 1px solid #eee;
  // margin-top:-20px;
}

.table>thead>tr>td, .table>thead>tr>th {
  vertical-align: middle;
  border-bottom: 1px solid #eee;
  background:#edf9fc;
  color: #404647
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th {
    vertical-align: middle;
    border-bottom: 1px solid #eee;
    height: 70px;
    padding: 12px;
    img {
      max-width: 100px;
      max-height: 50px;
    }
}

.list-group-item {
  background: white;
  height: 100px;
  font-size: 130%;
  border: 1px solid #eeeeee;
  display:flex;
  align-items: center;box-shadow:none;
  .product-pic {
    min-width: 100px;
    text-align:center;
  }
  .product-info {
    margin-left: 25px;
  }
  .device-info {
    width: 100%;
    font-size: 15px;
    text-align: right;
    margin-right: 10px;
    h5 {
      margin-left: 10px;
      opacity: 0.65;
      font-size: 85%;
    }
  }
  .device-info .fa {
    margin-left: 5px;
  }
}
.selector {
  background:none;
  color: white;
  padding: 10px 15px 10px 15px;
}

.selected {
  color:#09cef0;
  background:white;
  border: 1px solid white;
  font-weight:bold;
}

.list-group-item img {
  max-height: 68px;
  max-width: 100px;
  margin-left: 5px;
  border-radius: 5px;
}

.list-group-item:hover {
  background:#F3FAFA;
}

i.fa.fa-mobile {
    font-size: 139%;
    bottom: -0.04em;
    position: relative;
}

i.fa.fa-globe {
  font-size: 125%;
  bottom: -0.04em;
  position: relative;
}

input.form-control {
  width: 100%;
  height: 75px;
  font-size: 200%;
  border: 0;
  border:1px solid black;
  padding-left: 25px;
  font-weight: 100;
  border-radius:15px;
}

input[type="username"]:focus, input[type="file"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
  outline: 0;
  box-shadow:none;
}

select {
  width: 100%;
  height: 75px;
  font-size: 200%;
  border: 0;
  border-bottom:1px solid black;
  padding-left: 50px;
  background-color: #FEFCFF;
  font-weight: 100;
  border-radius: 0px;
}

textarea.form-control {
  width: 100%;
  font-size: 140%;
  border:1px solid #eeeeee;
  padding-left: 25px;
  margin-bottom: 35px;
  font-weight: 100;
  border-radius: 10px;
  box-shadow:none;
}

label {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 100%;
}

.dropdown-menu li a:hover {
  background: black;
  color: white;
}

.dropdown-toggle a:active {
  background: white;
}

.badge {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: black;
  font-weight: Normal;
}

h1 {
  // font-size: 250%;
}

h3 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  font-size: 180%;
}

h5 {
  text-transform:uppercase;
  font-family: "Roboto Condensed";
}

.fa-search:before {
  -webkit-text-stroke: 0.75px white;
}

.fa-search:hover {
  -ms-transform: scale(1.50, 1.50);
  -webkit-transform: scale(1.50, 1.50);
  -moz-transform: scale(1.50, 1.50);
  transition: all 0.25s ease;
  color: #13D8C6
}

.fa-plus:before {
  -webkit-text-stroke: 0.75px white;
}

.fa-plus:hover {
  -ms-transform: scale(1.50, 1.50);
  -webkit-transform: scale(1.50, 1.50);
  -moz-transform: scale(1.50, 1.50);
  transition: all 0.25s ease;
  color: #13D8C6
}

.floater {
  position: relative;
  z-index: 2;
}
