/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*/

body {
  font-family: 'Roboto', sans-serif;
}

.jumbotron {
  background:none;
  background: #fcfff4;
  border: 1px solid #F9FCF0;
  border-radius: 25px;
}

html { -webkit-font-smoothing: antialiased; }

a, a:hover {
  color: black;
}

.badge {
  float: right;
  margin-top: -22px;
  margin-right: 18px;
}

.btn {
  border-radius:500px;
}
//
.btn-primary {
  background: #ffffff;
  color: #000000;
  border: 0px;
  border-radius: 500px;
  background: #09f0f0; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#09f0f0, #09cef0); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#09f0f0, #09cef0); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#09f0f0, #09cef0); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#09f0f0, #09cef0); /* Standard syntax */

}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #09f0f0; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#09f0f0, #14dbff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#09f0f0, #14dbff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#09f0f0, #14dbff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#09f0f0, #14dbff); /* Standard syntax */
}

.btn-facebook {
  background: #3b5998;
  border-color: #3b5998;
  color: white;
}

.btn-search {
  background: #ffffff;
  color: #000000;
  border-color: #000000;
  border-radius: 500px;
}


.btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active {
  background: #4E69A2;
  border-color: #4E69A2;
  color: white;
}

.login-devise {
  display:none;
}


.list-group-item {
  height: 50px;
  font-size: 110%;
  padding-top: 15px;
}

input.form-control {
  width: 100%;
  height: 75px;
  font-size: 200%;
  border: 0;
  border-bottom:1px solid black;
  padding-left: 25px;
  background-color: #FEFCFF;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  border-radius: 0px;
}

input[type="text"]:focus, input[type="file"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
  outline: 0;
  border:none;
  box-shadow:none;
}

select {
  width: 100%;
  height: 75px;
  font-size: 200%;
  border: 0;
  border-bottom:1px solid black;
  padding-left: 50px;
  background-color: #FEFCFF;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  border-radius: 0px;
}

textarea.form-control {
  width: 100%;
  font-size: 175%;
  border: 0;
  border:1px solid grey;
  padding-left: 25px;
  margin-bottom: 35px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  border-radius: 15px;
}

label {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 100%;
}

.dropdown-menu li a:hover {
  background: black;
  color: white;
}

.dropdown-toggle a:active {
  background: white;
}

.badge {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: black;
  font-weight: Normal;
}

h1 {
  // font-size: 250%;
}

h3 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  font-size: 180%;
}

.fa-search:before {
  -webkit-text-stroke: 0.75px white;
}

.fa-search:hover {
  -ms-transform: scale(1.50, 1.50);
  -webkit-transform: scale(1.50, 1.50);
  -moz-transform: scale(1.50, 1.50);
  transition: all 0.25s ease;
  color: #13D8C6
}

.fa-plus:before {
  -webkit-text-stroke: 0.75px white;
}

.fa-plus:hover {
  -ms-transform: scale(1.50, 1.50);
  -webkit-transform: scale(1.50, 1.50);
  -moz-transform: scale(1.50, 1.50);
  transition: all 0.25s ease;
  color: #13D8C6
}

.floater {
  position: relative;
  z-index: 2;
}
