.brands {
  .letter {
    display: block;
    font-weight: bold;
  }
  .list {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px dotted silver;
  }
  .list:last-child {
    border-bottom: 0px;
  }
}
.brands a {
  color: #000000;
  font-size: 140%;
  text-decoration: underline;
}
