// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Custom, iPhone Retina -------------------------------------------------------- */
@media screen and (min-width: 320px) {

	.category-index {

		.category-row {
			text-align:center;
			padding-top:20px;
			height: 120px;

			.category-name {
				font-weight:500;
				margin-top:15px;
				.counter {
					display:inline;
					background-color: #e5e5e5;
					font-size: 75%;
				}
			}
			.category-image {
				text-align:center;
				margin-right: -10px;
				opacity: 1;
			}
			.category-image img {
			}
		}
		.category-row:hover {
			.category-image {
				-ms-transform: scale(1.05, 1.05); /* IE 9 */
				-webkit-transform: scale(1.05, 1.05); /* Safari */
				-moz-transform: scale(1.05, 1.05);
			}
			.category-name {
				text-decoration: underline;
			}
		}
	}

	.category-index a {
		color:#000000;
	}

	.uses {
		margin-left:0px;
		padding-left:0px;
	}

	.category-show-header {
		text-align: left;
		width: 100%;
		.add-button {
			float: right;
			margin-top: -52px;
		}
	}
}


/* Small Devices, Tablets -------------------------------------------------------- */
@media screen and (min-width: 768px) {

	.category-index {
		// padding-top:30px;

		.category-row {
			margin-bottom:30px;
			height: 175px;
		}

		.category-image img {
			max-height:125px;
			margin-bottom:5px;
		}
	}

}
