<<<<<<< HEAD


.price {
  width: 100px;
  text-align:right;
  float:right;
}

.ticker, .volume {
  width: 100%;
  font-size: 15px;
  text-align: right;
  margin-right: 10px;
  h5 {
    margin-left: 10px;
    opacity: 0.65;
    font-size: 90%;
}
