/* Custom, iPhone Retina -------------------------------------------------------- */
@media screen and (min-width: 320px) {

	.jumbotron {
		background-color:#ffffff;
		text-align:center;
		h2 {
			color: #000000;
			font-weight: 300;
		}
		h3 {
			color: #000000;
			font-weight:200;
		}
		h4 {
			font-weight:200;
		}
	}

	.index-panel {
		text-align:center;
		margin-bottom:20px;
		.p {
			font-weight:regular;
			font-size:110%;
		}
		h2 {
			font-size:140%;
			font-weight:300;
		}
		.user-avatar {
			text-align: right;
		}
		.welcome-message {
			text-align:left;
		}
		.welcome-message a {
			color: #000000;
		}
		.add-button {
			text-align: left;
		}
	}

	.table th, .table td {
		border-top: 0px solid #f2f3f4 !important;
	}

	.title {
		text-align:center;
		margin-left: 0px;
		color: white;
		width: 100px;
		font-weight:500;
		font-size:90%;
		padding:2px;
		margin:30px 0 30px 0;
		border: 1px dotted white;
		background: black;
		text-transform: uppercase;
		-webkit-transform: skew(-5deg);
		-moz-transform: skew(-5deg);
		-o-transform: skew(-5deg);
	}

	.table-header {
		text-align:center;
	}

	.navbar-default {
		// font-family: 'Questrial', sans-serif;
		.container-fluid {
			background-color: #ffffff;
			.navbar-nav > li > a {
				color: #000000;
				font-size: 16px;
				font-weight: regular;
				padding-right:5px;
				padding-bottom:10px;
				height:34px;
			}
			.navbar-brand {
				color: #000000;
				font-size: 28px;
				font-weight: bold;
				font-style: italic;
			}
		}
	}

	.container-fluid {
		padding: 0px 10px;
	}

	.new-product-panel {
		width: 100%;
		text-align: center;
		height: auto;
		margin: 20px 0px 20px 0px;
	}

	.button-using {
		text-align:center;
		margin:30px 0px 0px 0px;
	}

	.product-panel {
		text-align:center;
	}

	.product-image img {
		max-width:50%;
	}

	.star-rating-product-page {
		margin:12px 0px 12px 0px;
	}

	.star-rating-product-page img {
		width:20px;
	}

	.ingredients-list {
		font-size:75%;
	}

	.star-rating-index img {
		width:12px;
		margin:0px 0px 0px 0px;
		padding:0px 0px 0px 0px;
	}

	.footer-container {
		position:relative;
		margin-top:-90px;
		height:90px;
		clear:both;
	}

	.footer-nav {
		background-color:#ffffff;
		border-top:1px dotted silver;
		color:#000000;
		text-align:center;
		height:90px;
		margin:120px 0px 0px 0px;
		padding:10px 30px 0px 30px;

		p {
			font-weight:normal;
			font-size:85%;
		}

		a {
			color:#000000;
			text-decoration:underline;
		}
	}


	.big-avatar img{
		max-width:35%;
		border-radius:50%;
	}

	.small-avatar {
		margin:10px 15px 15px 0px;
		display:inline;
	}

	.small-avatar img{
		max-width:65px;
		border-radius:50%;
		border:1px solid #FAFAFA;
	}

	.tiny-avatar {
		margin: 10px 0px 15px 0px;
    margin-top: -8px;
	}

	.tiny-avatar img {
		max-width:35px;
		border-radius:50%;
	}

	.tiny-avatar-list {
		margin: 10px 15px 15px 0px;
		display: inline;
	}

	.tiny-avatar-list img {
		max-width:35px;
		border-radius:50%;
	}

	.medium-avatar {
		margin:10px 15px 15px 0px;
	}

	.medium-avatar img{
		max-width:75px;
		border-radius:50%;
		border:1px solid #FAFAFA;
	}

	.extra-medium-avatar {
		margin:10px 15px 15px 0px;
	}

	.extra-medium-avatar img{
		max-width:120px;
		border-radius:50%;
		border:1px solid #FAFAFA;
	}

	.large-avatar {
		margin:10px 15px 15px 0px;
	}

	.large-avatar img {
		max-width:100px;
		border-radius:50%;
		border:1px solid #FAFAFA;
	}


	.product-panel-form {
		margin: 25px 0px 25px 0px;

		h4 {
			margin:10px 0px 0px 0px;
		}

		img {
			margin:5px;
			max-width:70%;
			min-width:75px;
		}
	}
}

/* Small Devices, Tablets -------------------------------------------------------- */

@media screen and (min-width: 768px) {

	html, body {height: 100%;}

	.meta-container {
		min-height:100%;
	}

	.main-container {
		overflow:auto;
		padding-bottom:100px;
	}

	.jumbotron {
		background-color:#ffffff;
		text-align:center;
		h2 {
			color: #000000;
			font-weight: bold;
		}
		h3 {
			color: #000000;
		}

	}

	.navbar-default {
		.container-fluid {
			padding-top:5px;
			padding-bottom:0px;
			margin-bottom:0px;
			.navbar-nav > li > a {
				// font-size: 12px;
				font-weight: regular;
			}
			.navbar-brand {
			}
		}
	}

	.container-fluid {
		padding: 10px 100px;
	}

	.new-product-panel {
		width: 100%;
		text-align: center;
		height: 100px;
		padding: 0px;
	}

	.product-panel {
		.product-image img {
			max-width:300px;
			min-width:120px;
		}
		text-align:left;
	}

	.button-using {
		text-align:left;
		margin:20px 0px 10px 0px;
	}

	.star-rating-product-page {
		margin:12px 0px 12px 0px;
	}

	.star-rating-product-page img {
		width:20px;
	}

	.star-rating-index img {
		width:20px;
		margin:0px 0px 10px 0px;
	}

	.footer-container {
		position:relative;
		margin-top:-90px;
		height:90px;
		clear:both;
	}

	.footer-nav {
		border-top:1px dotted silver;
		background-color:#ffffff;
		color:#000000;
		text-align:center;
		height:90px;
		margin:0px;
		padding:10px 30px 0px 30px;

		p {
			font-weight:normal;
			font-size:110%;
		}

		a {
			color:#000000;
			text-decoration:underline;
		}
	}

	.product-panel-form {

		text-align:center;

		margin: 25px 0px 50px 0px;

		h4 {
			margin:10px 0px 0px 0px;
		}

		img {
			margin:5px;
			max-width:125px;
			min-width:65px;
		}

	}

}
