@media screen and (min-width: 321px) {


.jumbotron {
	background-color:#ffffff;
	text-align:center;
	h2 {
		color: #000000;
		font-weight: bold;
	}
	h3 {
		color: #000000;
	}

}


/* modify bootstrap's button colors */

.btn-primary {
    background: #ffffff;
    color: #000000;
    border-color: #000000;
    }

 .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
    }


.table-header {
text-align:center;
}

.navbar-default {
	.container-fluid {
		background-color: #000000;
		.navbar-nav > li > a {
			color: #ffffff;
			font-size: 16px;
			font-weight: bold;
		}
		.navbar-brand {
		color: #ffffff;
		font-size: 25px;
		font-weight: bold;
		}

		.dropdown ul {
		background-color:#ffffff;
		color:#000000;
		font-size: 16px;
		font-weight: bold;
		}

		.dropdown li {
		background-color:#ffffff;
		color:#000000;
		font-weight: bold;
		}

		.dropdown-menu a {
		color:#000000;
		background-color:#ffffff;
		}
		
	}
}

.container-fluid {
	padding: 10px 10px;
}

/* FIX THIS */
.new-product-panel {
	width: 100%;
	text-align: center;
	height: auto;
	padding: 0px;
}

.index-product-image {
	margin:5px;
}

.index-product-image img {
	max-width:75%;
	min-width:65px;
}

.photo-panel {
	padding: 25px 0px 25px 0px;
}

.product-photos-product-page {
	margin:12px 0px 12px 0px;
	font-size:12px;
}

.product-photos-product-page img {
	border-radius:5px;
	max-width:100%;
	height:auto;
}

.star-rating-product-page {
	margin:12px 0px 12px 0px;
}

.star-rating-product-page img {
	width:20px;
}

.star-rating-index img {
	width:10px;
}
/*
.footer-container {
	position:relative;
	margin-top:-60px;
	height:60px;
	clear:both;
}

.footer-nav {
	background-color:#000000;
	color:#ffffff;
	text-align:center;
	height:80px;
	margin:0px;
	padding:11px 0px 0px 0px;
}

.footer-nav a {
	color:#ffffff;
	text-decoration:underline;
}
*/
.profile-product-image {
	margin:10px;
}

.profile -product-image img {
	width:130px;
}

}

/* ------------------------------------------------------ */

@media screen and (min-width: 801px) {

html, body {height: 100%;}

.meta-container {
	min-height:100%;
}

.main-container {
	overflow:auto;
	padding-bottom:100px;
	}

.jumbotron {
	background-color:#ffffff;
	text-align:center;
	h2 {
		color: #000000;
		font-weight: bold;
	}
	h3 {
		color: #000000;
	}

}

/* modify bootstrap's button colors */

.btn-primary {
    background: #ffffff;
    color: #000000;
    border-color: #000000;
    }

 .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
    }


.table-header {
text-align:center;
}

.navbar-default {
	.container-fluid {
		background-color: #000000;
		.navbar-nav > li > a {
			color: #ffffff;
			font-size: 16px;
			font-weight: bold;
		}
		.navbar-brand {
		color: #ffffff;
		font-size: 30px;
		font-weight: bold;
		}

		.dropdown ul {
		background-color:#ffffff;
		color:#000000;
		font-size: 16px;
		font-weight: bold;
		}

		.dropdown li {
		background-color:#ffffff;
		color:#000000;
		font-weight: bold;
		}

		.dropdown-menu a {
		color:#000000;
		background-color:#ffffff;
		}
		
	}
}

.container-fluid {
	padding: 10px 120px;
}


.new-product-panel {
	width: 100%;
	text-align: center;
	height: 100px;
	padding: 0px;
}

.index-product-image {
	margin:10px;
}

.index-product-image img {
	max-width:75%;
	min-width:65px;
}

.photo-panel {
	padding: 25px 0px 25px 0px;
}

.product-photos-product-page {
	margin:12px 0px 12px 0px;
	font-size:12px;
}

.product-photos-product-page img {
	border-radius:5px;
	max-width:100%;
	height:auto;
}

.star-rating-product-page {
	margin:12px 0px 12px 0px;
}

.star-rating-product-page img {
	width:20px;
}

.star-rating-index img {
	width:20px;
}

.footer-container {
	position:relative;
	margin-top:-80px;
	height:80px;
	clear:both;
}

.footer-nav {
	background-color:#000000;
	color:#ffffff;
	text-align:center;
	height:80px;
	margin:0px;
	padding:11px 0px 0px 0px;
}

.footer-nav a {
	color:#ffffff;
	text-decoration:underline;
}

.profile-product-image {
	margin:10px;
}

.profile -product-image img {
	width:130px;
}

}







