.jumbotron {
	background-color:#ffffff;
	text-align:center;
	h2 {
		color: #000000;
		font-weight: bold;
	}
	h3 {
		color: #000000;
	}

}

.table-header {
text-align:center;
}

.navbar-default {
	.container-fluid {
		background-color: #000000;
		.navbar-nav > li > a {
			color: #ffffff;
			font-size: 16px;
			font-weight: bold;
		}
		.navbar-brand {
		color: #ffffff;
		font-size: 30px;
		font-weight: bold;
		}
	}
}

.container-fluid {
	padding: 10px 120px;
}


.new-product-panel {
	width: 100%;
	text-align: center;
	height: 100px;
}

.index-product-image {
	margin:10px;
}


.star-rating {
	margin:12px 0px 12px 0px;

}

.footer-nav {
}