.login {
	height: 100%;
	width: 100%;
  background: white; /* For non-gradient browsers */
  background: -webkit-linear-gradient(left, #FEFCFF , white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #FEFCFF, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #FEFCFF, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #FEFCFF , white); /* Standard syntax */
}

.jumbotron h1 {
	font-family: 'Questrial', sans-serif;
	font-weight:600;
}

.invite {
	font-size:16px;
	font-weight:300;
	text-align:center;
}
