/* Custom, iPhone Retina -------------------------------------------------------- */
@media screen and (min-width: 320px) {

  .post {
    font-size: 18px;
    .post-image {
      text-align: center;
      height: 200px;
      width: 100%;
      overflow: hidden;
      position: relative;
      margin-bottom: 20px;
    }
    .post-image img {
      border: 1px solid #f0f0f0;
      margin-top: -20%;
    }
    .post-source {
      font-style: italic;
      font-weight: bold;
    }
    .post-title {
      margin-bottom: 20px;
      text-decoration: underline;
    }
  }
}

/* Small Devices, Tablets -------------------------------------------------------- */
@media screen and (min-width: 768px) {

  .post {
    .post-title {
      height: 65px;
    }
  }
  .post:hover {
    -ms-transform: scale(1.01, 1.01);
    -webkit-transform: scale(1.01, 1.01);
    -moz-transform: scale(1.01, 1.01);
    transition: all 0.25s ease;
  }
}
