/* Custom, iPhone Retina -------------------------------------------------------- */
@media screen and (min-width: 320px) {

  .post {
  }
}

/* Small Devices, Tablets -------------------------------------------------------- */
@media screen and (min-width: 768px) {

  .post {
  }
  .post:hover {
    -ms-transform: scale(1.01, 1.01);
    -webkit-transform: scale(1.01, 1.01);
    -moz-transform: scale(1.01, 1.01);
    transition: all 0.25s ease;
  }
}
