/* Custom, iPhone Retina -------------------------------------------------------- */
@media screen and (min-width: 320px) {


	.sorts {
		padding-bottom: 15px;
		text-align: right;
		margin-top: -52px;
		a {
			margin-left: 10px;
			text-decoration: underline;
		}
	}

	.product-row {
		margin: 30px 0px 30px 0px;
		height: 118px;
		border-bottom: 1px dotted silver;
		overflow: hidden;
		.product-image {
			text-align:left;
		}
		.product-image img {
			max-height:105px;
			max-width: 100px;
		}
		.product-brand {
			font-size:14px;
			margin-top:20px;
			font-weight: bold;
			font-style: italic;
		}
		.product-name {
			font-size:14px;
		}
		.product-name a {
			color: #000000;
		}
		.user-count {
			margin-top: 30px;
			margin-right: 5%;
			text-align: right;
			.count {
				display: inline;
				font-size: 110%;
			}
		}
		.user-count img {
			margin-left: -40px;
		}
		.review-info {
			margin-top:12px;
		}
	}

	.product-row:last-child {
		border-bottom: 0px;
	}

	.product-row:hover {
		.product-image {
			-ms-transform: scale(1.05, 1.05); /* IE 9 */
			-webkit-transform: scale(1.05, 1.05); /* Safari */
			-moz-transform: scale(1.05, 1.05);
		}

	}

	.product-name {
		display:inline;
	}

	.rating {
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		background-color: #000000;
		color: #ffffff;
		font-size: 160%;
		height: 50px;
		width: 50px;
		border-radius: 50%;
		border: 1px dotted white;
		text-align:center;
		padding-top: 8px;
	}

	.rating-single {
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		background-color: white;
		color: black;
		font-size: 160%;
		height: 50px;
		width: 50px;
		border-radius: 50%;
		border: 1px dotted black;
		text-align:center;
		padding-top: 8px;
		float: right;
	}

	.product-show {
		padding: 30px 0px;
		border-bottom: 1px dotted silver;
		height: 400px;
		h1 {
			font-size: 25px;
			font-style: italic;
			font-weight: bold;
		}
		h2 {
			font-size: 25px;
		}
		.product-show-image {
			text-align: left;
		}
		.product-show-image img {
			max-width: 100%;
			max-height: 340px;
		}
		.product-show-rating {
			float: right;
		}
		.product-show-use-button {
			float:left;
			margin-top: -5px;
		}
	}

	// .add-product {
	// 	text-align:center;
	// 	padding-bottom: 30px;
	// 	border-bottom: 1px dotted silver;
	// 	.add-product-text {
	// 		font-size: 200%;
	// 		display:inline;
	// 		padding: 0 30px;
	// 	}
	// }


	// .profile-product {
	// 	padding:10px 0px 10px 0px;
	// 	margin:0px;
	// 	height:100%;
	// }
	//
	// .profile-add {
	// 	margin-top:-125px;
	// 	font-size:125%;
	// 	text-align:center;
	// }
	//
	// .profile-product img {
	// 	max-width:175px;
	// 	border:1px solid #ffffff;
	// 	background:#ffffff;
	// 	border-radius:5px;
	// 	box-shadow:1px 1px 1px #e5e5e5;
	// 	padding:20px;
	// }
	//
	// .product-info {
	// 	font-size:150%;
	// 	font-weight:500;
	// }



	.button-use {
		text-align:right;
		padding-top:10px;
		padding-bottom:10px;
	}

	.button-want {
		text-align:left;
		padding-top:10px;
		padding-bottom:10px;
	}

	.ingredients-list {
		font-size:14px;
		text-align:center;
	}

	.ingredients-button {
		font-size:14px;
		text-align:center;
		display:inline;
	}

	.ingredients-button:hover {
		text-decoration:underline;
	}

	.ingredients {
		display:none;
		padding:10px 0px 15px 0px;
		font-size:80%;
		text-align:center;
	}

	// .product-list {
	//
	//
	//
	//
	// 	.product {
	// 		font-weight:500;
	// 		display:inline;
	// 	}
	//
	//
	// 	.feed-review-excerpt {
	//
	// 		.star-rating {
	// 			text-align:center;
	// 		}
	//
	// 		.star-rating img {
	// 			max-width:20px;
	// 		}
	// 	}
	//
	//
	//
	// 	.category {
	// 		font-weight:400;
	// 		display:inline;
	// 	}
	//
	//
	// }

	.reviews {

		.comment {
			font-weight:300;
			font-size:16px;
		}

		.reviewer-info {
			margin-top:10px;
			text-align:right;
			font-size:90%;
			font-weight:200;
		}

	}

	.reviews a {
		color:#000000;
	}


	.uses {
		margin-left:15px;
	}

	.wants {
		margin-left:15px;
	}

}

/* Small Devices, Tablets -------------------------------------------------------- */

@media screen and (min-width: 768px) {

	.sorts a {
			margin-left: 15px;
	}


	.button-use {
		text-align:right;
		padding-top:10px;
		padding-bottom:10px;
	}



	.ingredients-list {
		font-size:14px;
		text-align:left;
	}

	.ingredients-button {
		font-size:14px;
		text-align:left;
	}

	.ingredients {
		text-align:left;
	}

	.product-list {
		margin-left:-40px;
	}



		.review-info p {
			margin:0px;
			padding:0px;
		}

			.star-rating {
				text-align:center;
			}

			.star-rating img {
				max-width:100%;
			}



				.product-row {
					margin: 30px 0px 30px 0px;
					height: 118px;
					border-bottom: 1px dotted silver;
					overflow: hidden;
					.product-image {
						text-align:left;
					}
					.product-image img {
						max-height:100px;
					}
					.product-brand {
						font-size:17px;
						margin-top:20px;
						font-weight: bold;
						font-style: italic;
					}
					.product-name {
						font-size:17px;
					}
					.product-name a {
						color: #000000;
					}
					.user-count {
						margin-top: 30px;
						margin-right: 5%;
						text-align: right;
						.count {
							display: inline;
							font-size: 110%;
						}
					}
					.user-count img {
						margin-left: -40px;
					}
					.review-info {
						margin-top:20px;
					}
				}

				.product-row:hover {
					.product-image {
						-ms-transform: scale(1.05, 1.05); /* IE 9 */
						-webkit-transform: scale(1.05, 1.05); /* Safari */
						-moz-transform: scale(1.05, 1.05);
					}

				}

				.rating {
					font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
					background-color: #000000;
					color: #ffffff;
					font-size: 160%;
					height: 50px;
					width: 50px;
					border-radius: 50%;
					border: 1px dotted white;
					text-align:center;
					padding-top: 8px;
				}

				.rating-single {
					font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
					background-color: white;
					color: black;
					font-size: 160%;
					height: 50px;
					width: 50px;
					border-radius: 50%;
					border: 1px dotted black;
					text-align:center;
					padding-top: 8px;
					float: right;
				}

}
