.review-row {
	border-bottom: 1px dotted grey;
  padding: 15px 0px;
	.user-name {
		margin-left: 25px;
	}
}

.review-rating {
  float: right;
}

.review-button {
	margin-top: -18px;
	float: right;
	display: inline;
}
