.new_review {
	height: 225px;
	textarea#review_comment {
	}
	.review-button {
		display: inline;
		float:right;
		margin-top: -18px;
		vertical-align: middle;
	}
}

.review-card {
	margin-bottom:30px;
	.review-brand {
		font-weight: bold;
		display:inline;
	}
	.review-name a {
		text-decoration:underline;
		display:inline;
	}
}

.review-row {
	border-bottom: 1px dotted silver;
  padding: 20px 0px;
	display: block;
	.review-avatar {
		display:inline;
		float:left;
		margin-left:15px;
		width:80px;
	}
	.review-text {
		display:inline;
		float:left;
		width:55%;
		.user-name {
			font-weight:600;
		}
	}
	.review-rating {
		display:inline;
		float:right;
		padding-right:15px;
	}
}
.review-row:last-child {
	border-bottom: 0px;
}
