<div class="col-xs-6 col-sm-3 col-md-3 category-row">
  <div class="category-image">
    <%= link_to image_tag(Product.where(product_brand: brand).first.try(:image).try(:small_thumb)), search_products_path(brand: brand) %>
  </div>
  <div class="category-name">
    <%= link_to brand, search_products_path(brand: brand) %>
  </div>
</div>
