<div class="page">
<div class="title"><%= pluralize(@brands.count, "brand") %></div>

<% letters = %w[a b c d e f g h i j k l m n o p q r s t u v w x y z] %>
<% letters.each do |letter| %>
  <div class="letter"><%= letter.upcase %></div>
  <div class="list">
    <% Product.each do |product| %>
      <% if letter == product[0].downcase %>
        <%= link_to product %><br>
      <% end %>
    <% end %>
  </div>
<% end %>
</div>
</div>
