<%= render 'products/search' %>
<div class="title"><%= pluralize(@brands.count, "brand") %></div>
<div class="brands">

<% letters = %w[a b c d e f g h i j k l m n o p q r s t u v w x y z] %>
<% letters.each do |letter| %>
  <div class="letter"><%= letter.upcase %></div>
  <div class="list">
    <% @brands.each do |brand| %>
      <% if letter == brand[0].downcase %>
        <%= link_to brand, root_path + 'products/search?utf8=%E2%9C%93&search=' + brand %><br>
      <% end %>
    <% end %>
  </div>
<% end %>
</div>
