<div class="index-panel">
  <h1>Find products</h1>
  <h4>Get clicking for cleansing, moisturizing, treating...and everything in between!</h4>
</div>
<div class= "new-product-panel">
  <div class= "form-group">
    <%= link_to 'Add product!', new_product_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
