<% title 'looklove, reviews of new beauty products' %>
<% description 'Reviews and photos of the best in new skincare and cosmetics products' %>
<% keywords 'skincare products, cosmetics products, beauty reviews, community, forum, posts, asian beauty, korean beauty, skincare, beauty, products, lists, regimen' %>

<!-- <%= render 'header_index' %> -->
<!-- <%= render 'products/search' %> -->

<div class="category-index">
  <%= render partial: 'themes/theme_row', collection: @themes, as: :theme %>
</div>

<script>
  mixpanel.track("Viewed Category Index");
</script>
