<% title 'Walletthing' %>
<% description 'The easiest place to compare cryptocurrency wallets' %>
<% keywords 'cryptocurrency wallets, bitcoin, ethereum, how to buy bitcoin, how to buy ethereum, how to buy ether, how to buy litecoin, how to store cryptocurrency, digital money' %>

<div class="jumbotron">
  <h2>Buy your first Bitcoin in New York</h2>
  <!-- <h4>Select a guide:</h4>
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default selected selector"><i class="fa fa-certificate" aria-hidden="true"></i>&nbsp;&nbsp;Buy your first Bitcoin</button>
    <button type="button" class="btn btn-default selector"><i class="fa fa-archive" aria-hidden="true"></i>&nbsp;&nbsp;Keep safe in a wallet</button>
    <button type="button" class="btn btn-default selector"><i class="fa fa-exchange" aria-hidden="true"></i>&nbsp;&nbsp;Trade at an exchange</button>
  </div> -->
</div>
</p>

<h2>1. Choose a wallet</h2>
A wallet is where you'll keep your Bitcoin safe. There are two types: 1) A hardware wallet, kind of like an offline vault 2) A hosted wallet, like online file storage. Hosted wallets are easy to use but can be more vulnerable to theft. Hardware wallets are slightly more complicated and require more attention to detail but are more secure. Be sure to have your wallet ready before you buy your Bitcoin. This way, you can quickly move your Bitcoin into your wallet for safekeeping.
</p>
<ul class="list-group">
  <% Product.take(3).each do |product| %>
    <li class="list-group-item">
      <%= render partial: 'products/product_row', locals: { product: product } %>
    </li>
  <% end %>
</ul>

<h2>2. Choose an exchange</h2>
Now that you have your wallet, it's time to choose an exchange that lets you sell fiat currency for Bitcoin. Exchanges let you buy and sell Bitcoin (and other cryptocurrencies). Very few exchanges are both licensed to operate in New York and accept fiat currencies for buying Bitcoin. Pick the one that works best for you.
</p>
        <table class="table">
          <thead>
              <th></th>
              <th>Name</th>
              <th>Price (BTC)</th>
              <th>Volume (BTC)</th>
              <th>Fees per $1k</th>
              <th>Reported Thefts</th>
              <th>Permitted in NY?</th>
              <th>Location</th>
              <!-- <th><i class="fa fa-map-marker" aria-hidden="true"></i></th> -->
          </thead>
          <% @exchanges.each do |exchange| %>
            <%= render partial: 'exchanges/exchange_row', locals: { exchange: exchange } %>
          <% end %>
        </table>

<h2>3.Buy your Bitcoin</h2>
Now that you have a wallet and an exchange, you can buy your Bitcoin. Then use the exchange's instructions to send your Bitcoin to your wallet for permanent storage.
