<% if user_signed_in? %>
<div class="row add-row">
<div class="col-xs-12 col-sm-6 share">
  <div class="share-text">Hi! We're sharing <br/>our favorite skincare and cosmetics products!
    <br/>What do <em><strong><u>you</u></strong></em> recommend?</div>
</div>
<div class="col-xs-12 col-sm-6">
  <div class="btn btn-lg btn-info share-button">Add my product!</div>
</div>
</div>
<% else %>

<div class="row add-row">
<div class="col-xs-12 col-sm-6 share">
  <div class="share-text">Hi! <em><strong>Looklove</strong></em> is the community for beauty.<br/>We're sharing our favorite skincare and cosmetics. </br>To share your products, join us!
    <!-- <br/>Everyone is different. So we'd love to know -
    <br/>what works for <em><strong><u>you</u></strong></em>? -->
  </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <% if devise_mapping.omniauthable? %>
      <% resource_class.omniauth_providers.each do |provider| %>
        <%= link_to "Continue with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider), class: "btn btn-lg fb-button" %><br />
      <% end %>
    <% end %>
  </div>
</div>
<% end %>
