<% if user_signed_in? %>
<div class="row add-row">
<div class="col-xs-12 col-sm-6 share">

  <div class="share-text">Hi! We're sharing the skincare and cosmetics <br>products that actually <em><strong>work</strong></em>.
    What do <u>you</u> recommend?</div>

</div>
<div class="col-xs-12 col-sm-6">
  <div class="btn btn-lg btn-info share-button">Add my product!</div>
</div>
</div>
<% else %>

<div class="row add-row">
<div class="col-xs-12 col-sm-6 share">
  <div class="share-text">We're a tight group of beauty enthusiasts sharing our <strong><em>top products</em></strong> and <strong><em>tips</em></strong>. Sign up to join us!
  </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <% if devise_mapping.omniauthable? %>
      <% resource_class.omniauth_providers.each do |provider| %>
        <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider), class: "btn btn-lg fb-button" %><br />
      <% end %>
    <% end %>
  </div>
</div>
<% end %>
