<div class="metadata">
  <div class="col-xs-6 metalinks">
    by <%= link_to "#{product.product_brand}", search_products_path(brand: @product.product_brand) %></br>
    in <%= link_to product.category.name.pluralize.titleize, product.category %>
    <br/><% if product.ingredients.present? %>
      <div class="ingredients-list">
        see <div class="ingredients-button">Ingredients</div>
      </div>
    <% end %>
  </div>
  <div class="hidden-xs col-sm-5">
    <%= render partial: "buy", locals: { product: @product } %>
  </div>
</div>
