<div class="metadata">
  <div class="col-xs-6 metalinks">
    by <%= link_to "#{product.product_brand}", search_products_path(brand: @product.product_brand) %></br>
    in <%= link_to product.category.name.pluralize.titleize, product.category %>
    <% if product.ingredients.present? %>
      <div class="ingredients-list">
        see <div class="ingredients-button">Ingredients</div>
      </div>
    <% end %>
  </div>
  <div class="col-xs-3">
    <%= render partial: "uses/button", locals: { product: @product, user: current_user } %>
</div>
<div class="col-xs-3">
    <%= render partial: "wants/button", locals: { product: @product, user: current_user } %>
  </div>
</div>
