<div class="row product-row">
  <div class="col-xs-4 col-sm-3 product-image">
    <%= link_to image_tag(product.image.small_thumb), product %>
  </div>

  <div class="col-xs-5 col-sm-6">
    <div class="product-name"><%= link_to product.name, product %></div>
    <br/>
    <% if product.reviews.where(user: @user).any? %>
      <%= truncate(product.reviews.where(user: @user).first.comment, length: 70) %>
    <% end %>
  </div>

  <div class="col-xs-3 col-sm-3 review-info">
    <% if product.reviews.where(user: @user).any? %>
      <%= render partial: 'products/rating_single', locals: {rating: product.reviews.where(user: @user).first.rating} %>
    <% end %>
  </div>
</div>
