<!-- <div class="product-pic">
  <%= link_to image_tag(product.image.small_thumb), product %>
</div>
<%= link_to product.name, product, class: "product-info" %>

<div class="device-info">
<% if product.device.present? %>
	<% if product.device.downcase.include?("web") %><h5><i class="fa fa-globe" aria-hidden="true"></i> &nbsp;Web</h5><% end %>
	<% if product.device.downcase.include?("mobile") %><h5><i class="fa fa-mobile" aria-hidden="true"></i> &nbsp;Mobile</h5><% end %>
	<% if product.device.downcase.include?("desktop") %><h5><i class="fa fa-desktop" aria-hidden="true"></i> &nbsp;Desktop</h5><% end %>
	<% if product.device.downcase.include?("offline") %><h5><i class="fa fa-suitcase" aria-hidden="true"></i> &nbsp;Hardware</h5><% end %>
<% end %>
</div> -->


<tr>
  <td>
    <%= link_to image_tag(product.image.small_thumb), product %>
  </td>
  <td>
    <%= link_to product.name, product, class: "product-info" %>
  </td>
  <td>
    <% if product.device.present? %>
    	<% if product.device.downcase.include?("web") %><h5><i class="fa fa-globe" aria-hidden="true"></i> &nbsp;Web</h5><% end %>
    	<% if product.device.downcase.include?("mobile") %><h5><i class="fa fa-mobile" aria-hidden="true"></i> &nbsp;Mobile</h5><% end %>
    	<% if product.device.downcase.include?("desktop") %><h5><i class="fa fa-desktop" aria-hidden="true"></i> &nbsp;Desktop</h5><% end %>
    	<% if product.device.downcase.include?("offline") %><h5><i class="fa fa-suitcase" aria-hidden="true"></i> &nbsp;Hardware</h5><% end %>
    <% end %>
  </td>
  <td>
    <% if product.access_private_keys? %><i class="fa fa-check" aria-hidden="true"></i><% end %>
  </td>
</tr>
