<div class="sorts">
  <i class="fa fa-sort" aria-hidden="true"></i>
  <%= link_to "Name", root_path, id: "name" %>
  <%= link_to "Users", root_path, id: "users" %>
  <%= link_to "Rating", root_path, id: "rating" %>
</div>
