<% nofollow %>
<% noindex %>
<h1>Edit this product</h1>

<%= render 'form_admin' %>

<%= link_to 'Show', @product, class: "btn btn-link" %> |
<%= link_to 'Back', products_path, class: "btn btn-link" %>
