<% nofollow %>
<% noindex %>
<div class="title">Products</div>
<h1>Add your product</h1>
<p>Grab a Sephora link and paste into the box. Your product will appear magically!</p>
<%= render 'form' %>
<%= link_to 'Back', products_path, class: "btn btn-link" %>
