<div class="page">
<div class="page-header">
<% if @products.empty? %>
  <h1>Hm, no wallet guides for <strong><%= @query %></strong> yet.</h1>
  <% else %>
  <h1><%= @query.titleize %></h1>
<% end %>
</div>

<% if @products.any? %>
  <div class="sortable">
    <ul class="list-group">
      <% @products.each do |product| %>
      <li class="list-group-item">
      <%= render partial: 'product_row', locals: { product: product } %>
    </li>
      <% end %>
    </ul>
  </div>
<% end %>
</div>

<script>
  mixpanel.track("Viewed Search Results", {"Search Term": "<%= @query %>"});
</script>
