<%= render 'search' %>

<div class="title"><%= pluralize(@products.count, "Product") %></div>

<div class="category-show">
  <%= render partial: 'products/product_row', collection: @products, as: :product %>
</div>

<script>
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/productbase/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>

<script>
  mixpanel.track("Viewed Search Results", {"Search Term": "<%= @query %>"});
</script>
