<div class="row review-row">
  <div class="review-avatar">
    <div class="small-avatar"><%= image_tag(review.user.pic) %></div>
  </div>
  <div class="review-text">
    <div class="user-name"><%= review.user.first_name %></div>
    <%= review.comment %><br>
  </div>
  <div class="review-rating"><%= render partial: 'products/rating_single', locals: { rating: review.rating } %></div>
</div>
