<div class="footer-nav">
<p><strong>&#9829;</strong></br><strong>looklove</strong> is a community forum for reviews and photos of Asian skincare and beauty products.</br>Together, we're discovering new things! To add your expertise to the collection, please <%= link_to 'write a review', new_product_path %>.</p>
</div>