<div class="footer-nav">
<h6><p><strong>&#9829;</strong></br>
<strong>looklove</strong> is a community for sharing beauty tips and products.</br>
Together, we're discovering new things!</p></h6>
</div>