<div class="footer-nav">
<h6><p><strong>&#9829;</strong></br>
<strong>looklove</strong> is a community forum for reviews and photos of Asian skincare and beauty products.</br>
Together, we're discovering new things that make our lives better!</p></h6>
</div>