<div class="footer-nav">
  <h6>
<strong><i>Looklove</i></strong><br/>
<i class="fa fa-search fa-flip-horizontal" aria-hidden="true"></i>
 for things you'll
<i class="fa fa-heart-o" aria-hidden="true"></i></br>
<%= link_to "Categories", categories_path %>
<%= link_to "Brands", brands_path %>
<%= link_to "Ingredients", ingredients_path %>
<%= link_to "Lists", looks_path %>
</h6>
</div>
